body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
    color: #0073e6;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: #0073e6; 
    color: white;
}

header h1 {
    font-size: 2em;
}

section {
    background-color: #ffffff;
    color: #0073e6; 
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #0073e6;
    border-radius: 5px;
    width: 100%;
}

button {
    background-color: #0073e6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
}

button:hover {
    background-color: #005bb5;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #005bb5;
    color: white;
}